<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 30%;
        box-sizing :border-box
    }

</style>
<body>
<div class="layout">
    <h1>회원가입 페이지</h1>
    <hr/>
    <form action="/join" method="post">
        <h3>이름</h3>
        <input type="text" name="username" placeholder="이름"/><br/>
        <h3>비밀번호</h3>
        <input type="password" name="password" placeholder="비밀번호"/><br/>
        <h3>비밀번호 확인</h3>
        <input type="password" name="repassword" placeholder="비밀번호 확인"><br/>
        <h3>번호</h3>
        <input type="text" placeholder="- 입력 제외" name="p_h" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        <h3>생년월일</h3>
        <input type="text" name="birth" maxlength="6" placeholder="ex)123456" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"><br/>
        <h3>이메일</h3>
        <input type="email" name="email" placeholder="ex)1234@naver.com"/><br/><br/>
        <button>회원가입</button>
    </form>
</div>
</body>
</html>